// buttons

.btn {
  display: flex;
  padding: 18px 24px;
  justify-content: center;
  align-items: center;
  gap: 15px;
  border-radius: 100px;
  text-decoration: none;
  border: 1px solid transparent;
  cursor: pointer;
  user-select: none;
  &--primary {
    @extend .btn;
    color: white;
    position: relative;
    z-index: 1;
    &::after {
      content: "";
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      border-radius: 100px;
      background-color: $color-primary;
      transition: all 0.3s ease-in-out;
      z-index: -1;
    }
    &:hover {
      &::after {
        transform: scale(0);
        opacity: 0;
        transition: all 0.3s ease-in-out;
      }
      color: $color-font-primary;
      border-color: $color-font-primary;
    }
  }
  &--secondary {
    @extend .btn;
    color: $color-font-primary;
    background-color: white;
    position: relative;
    z-index: 1;
    transition: all 0.3s ease-in-out;
    &:not(.no-border) {
      border-color: $color-font-primary;
    }
    &:hover {
      background-color: rgba($color-font-primary, 0.05);
      border-color: transparent;
    }
  }
}

.circle-icon{
  border: $border-secondary;
  border-width: 2px;
  border-radius: 100%;
  width: 50px;
  height: 50px;
  min-width: 50px;
  min-height: 50px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

:deep(.favorite-btn){
  padding: 18px;
  &:hover{
    svg{
      path{
        stroke: $color-primary;
        fill: $color-primary;
      }
    }
  }
}